#IDE
.idea

# MacOs
.DS_Store

# pytest and coverage
.coverage
.coverage.*
htmlcov/

# packaging and distribution
.eggs/
dist/
*.egg-info/

# mypy
.mypy_cache/

# pyenv and rbenv
.python-version
.ruby-version

# tox and other venvs
.tox/
venv/

# Compiled
__pycache__/

# xmft
main.log
